
<h1>List of things I want to do !</h1>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Date</th>
                <th>is Done ?</th>
                <th>Update</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let todo of todos'>
                <td>{{todo.id}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.tagetDate | date}}</td>
                <td>{{todo.isDone}}</td>
                <td><button class="btn btn-success" (click)="updateTodoById(todo.id)">Update</button></td>
                <td><button class = "btn btn-warning" (click)="deleteTodo(todo.id)">Delete</button></td>

            </tr>
        </tbody>
    </table>
</div>